<nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-white">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand">Chef Market</a>
    <a class="nav-item active nav-link text-light" href="{% url 'dishes_list' %}">Меню</a>
  </div>
  {% if not request.user.is_authenticated %}
  <a class="nav-item active nav-link text-light" href="{% url 'registration' %}">Зарегистрироваться</a>
  <a class="nav-item active nav-link text-light" href="{% url 'login' %}">Войти</a>
  {% else %}
  <a class="nav-link nav-item active text-light" href="{% url 'logout' %}">Выйти</a>
  <a class="nav-link nav-item active text-light"  href="{% url 'basket' %}">Корзина </a>
  {% endif %}
</nav>


